*__pycache__/
__pycache__/

/venv
venv/

.env
.git

*.egg-info/
*.egg
*.mp4

dist
dist-ssr

downloaded_files/
cookies/
clips/
configs/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
logs
*.log
