*__pycache__/
__pycache__/

/venv
venv/

.env
.git

*.egg-info/
*.egg

dist
dist-ssr

downloaded_files/
cookies/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
logs
*.log
