*__pycache__/
*.ruff_cache

*venv/

.env
.git

*.egg-info/
*.egg

dist
dist-ssr

# Project folders and files
*credentials.storage
*.mp4

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.DS_Store

# Logs
*logs/
*.log
